<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Crawler</title>
</head>

<body class="bg-slate-300 dark:bg-slate-600 select-none">
    <div
        class="bg-white dark:bg-slate-800 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl w-3/5 place-self-center">
        <div>
            <span
                class="inline-flex items-center justify-center p-2 bg-indigo-500 rounded-md shadow-lg w-full place-self-center">
                <svg class="h-6 w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true"><!-- ... --></svg>
            </span>
            <h1 class="text-slate-900 dark:text-white mt-5 font-medium tracking-tight text-2xl">
                Partidos de hoy
            </h1>

            <ul id="resultados" class="text-slate-500 dark:text-slate-600 mt-2 text-sm flex flex-wrap">
                <!-- Aquí se insertarán los resultados desde JavaScript -->
            </ul>
        </div>
        <div>
            <h2 class="text-slate-900 dark:text-white mt-5 font-medium tracking-tight text-2xl">
                Noticias
            </h2>
            <ul id="news" class="text-slate-500 dark:text-slate-400 mt-2 text-sm flex flex-wrap"></ul>
        </div>
    </div>

    <script>
        // Función para actualizar los resultados
        async function cargarResultados() {
            try {
                const response = await fetch("/api/titles"); // Hacer la solicitud a la API
                const resultados = await response.json(); // Convertir la respuesta a JSON

                const resultadosContainer = document.getElementById("resultados");
                resultadosContainer.innerHTML = ""; // Limpiar resultados previos

                resultados.forEach((resultado) => {
                    const listItem = document.createElement("li");
                    listItem.classList.add("w-auto", "bg-slate-200", "box-border", "p-4", "border-2", "border-slate-500", "rounded-md", "m-4", "text-slate-800", "dark:bg-slate-800", "dark:text-slate-200", "text-xl");

                    if (resultado.tipo === "partido_programado") {
                        listItem.textContent = `${resultado.equipo1} VS 
                                        ${resultado.equipo2} 
                                        en ${resultado.hora}`;
                                    } else if (resultado.tipo === "partido_daniado"){
                                        listItem.textContent = resultado.text
                                    } else if (resultado.tipo === "resultado_final") {
                                        listItem.textContent = `${resultado.equipo1} ${resultado.goles1} - ${resultado.goles2} ${resultado.equipo2}`;
                                    }else if (resultado.tipo === "resultado_daniado"){
                                        listItem.textContent = resultado.text
                                    }else{
                        
                        listItem.textContent = "Datos no disponibles";
                    }

                    resultadosContainer.appendChild(listItem); // Agregar el item al contenedor
                });
            } catch (error) {
                console.error("Error al cargar resultados:", error);
            }
        }

        // Llamar a la función para cargar los resultados al cargar la página
        window.onload = cargarResultados;

        function actualizarResultados() {
            // Realizar ambas solicitudes en paralelo
            Promise.all([
                fetch("/api/news").then((response) => response.json()), // Para obtener los títulos de las noticias
                fetch("/api/news/href").then((response) => response.json()) // Para obtener los hrefs
            ])
                .then(([news, hrefs]) => {
                    const resultados = document.getElementById("news");
                    resultados.innerHTML = ""; // Limpiar resultados anteriores

                    // Añadir cada noticia con su correspondiente enlace
                    news.forEach((newp, index) => {
                        const listItem = document.createElement("li");
                        listItem.classList.add(
                            "w-auto", "md:w-auto", "bg-slate-200", "box-border", "p-4",
                            "border-2", "border-slate-500", "rounded-md", "m-4", "text-slate-800",
                            "dark:bg-slate-800", "dark:text-slate-200", "text-xl", "hover:dark:border-slate-100", "hover:border-slate-300", "hover:animate-pulse"
                        );

                        const listItemHref = document.createElement("a");
                        listItemHref.href = hrefs[index]; // Asignar el href de la respuesta
                        
                        listItemHref.textContent = newp; // Asignar el texto de la noticia
                        listItemHref.target = "_blank"
                        // Añadir el enlace dentro del item de la lista
                        listItem.appendChild(listItemHref);
                        resultados.appendChild(listItem);
                    });
                })
                .catch((error) => console.error("Error:", error));
        }


        // Llamar a actualizarResultados cada 30 segundos
        setInterval(actualizarResultados, 30000);

        // Llamar a actualizarResultados una vez al cargar la página
        actualizarResultados();
    </script>
</body>
<script src="https://cdn.tailwindcss.com"></script>

</html>