<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Web Crawler</title>
</head>
<body class="bg-dark-subtle">
    <h1 class="bg-success text-body-emphasis text-center p-5 rounded mx-5">Resultados de partidos</h1>
    <div class="container">
        <ul id="resultados" class="list-group">
            <!-- Aquí se insertarán los resultados desde JavaScript -->
        </ul>
    </div>
    <div>
        <h2 class="bg-danger text-body-emphasis text-center p-5 rounded mx-5">Noticias</h2>
        <ul id="news" class="list-group d-flex"></ul>
    </div>
    
    <script>
        // Función para actualizar los resultados
        async function cargarResultados() {
            try {
                const response = await fetch('/api/titles'); // Hacer la solicitud a la API
                const resultados = await response.json(); // Convertir la respuesta a JSON
                
                const resultadosContainer = document.getElementById('resultados');
                resultadosContainer.innerHTML = ''; // Limpiar resultados previos

                resultados.forEach(resultado => {
                    const listItem = document.createElement('li');
                    listItem.classList.add('list-group-item');

                    if (resultado.tipo === "partido_programado") {
                        listItem.textContent = `${resultado.equipo1} juega contra ${resultado.equipo2} a las ${resultado.hora}`;
                    } else if (resultado.tipo === "resultado_final") {
                        listItem.textContent = `${resultado.equipo1} ${resultado.goles1} - ${resultado.goles2} ${resultado.equipo2}`;
                    } else {
                        listItem.textContent = "Datos no disponibles";
                    }

                    resultadosContainer.appendChild(listItem); // Agregar el item al contenedor
                });
            } catch (error) {
                console.error('Error al cargar resultados:', error);
            }
        }

        // Llamar a la función para cargar los resultados al cargar la página
        window.onload = cargarResultados;

        function actualizarResultados() {
          
            fetch('/api/news')
                .then(response => response.json())
                .then(news => {
                    const resultados = document.getElementById('news');
                    resultados.innerHTML = ''; // Limpiar resultados anteriores

                    // Añadir cada título a la lista
                    news.forEach(newp => {
                        const listItem = document.createElement('li');
                        listItem.classList.add('list-group-item', 'p-2', 'mx-auto', 'my-1', 'icon-link', 'rounded', 'flex-column');
                        listItem.textContent = newp;
                        resultados.appendChild(listItem);
                    });
                })
                .catch(error => console.error('Error:', error));


        }
      
        // Llamar a actualizarResultados cada 30 segundos
        setInterval(actualizarResultados, 30000);

        // Llamar a actualizarResultados una vez al cargar la página
        actualizarResultados();
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
